/* Fonts */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../Fonts/MYRIADPRO-REGULAR.woff') format('woff');
    }


/* default styles */
*{
    font-family: 'Myriad Pro Regular';
    margin: 0px;
    padding: 0px;
}


/* Log in styles */
.login-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 45%;
    height: 100vh;
    
}
.login-input{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.logo-blue{
    
}
.text-login{
    color: rgb(0, 0, 65);
    font-size: 30pt;
    margin-bottom: 20px;
}
.email-input, .password-input{
    border: 1px solid rgb(0, 0, 65);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    width: 250px;
    box-shadow: 0px 0px 5px black;
}

.email-input, .password-input:focus{
    outline: none;
}

.submit-button{
    height: 40px;
    width: 200px;
    background-color: rgb(0, 0, 65);
    border: none;
    border-radius: 10px;
    color: white;
    margin: 20px;
    
}
.submit-button:hover{
    background-color: rgb(0, 0, 121);
}
.submit-button a {
    text-decoration: none;
    color: white;
}
.recuperacion-pswd{
    text-decoration: none;
    color: rgb(0, 0, 65);
}

/* Image container */
.image-container{
    flex-flow: column;
    display: flex;

}
.biblioteca{
    height: 100vh;
}