/* Fonts */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../Fonts/MYRIADPRO-REGULAR.woff') format('woff');
    }
/* Default styles */
html{
    background-color: #ffffff;
}
*{
    overflow: hidden;
    font-family: 'Myriad Pro Regular';
    margin: 0px;
    padding: 0px;
    
}
/* Side-bar styles */
.side-bar{
    display: flex;
    flex-flow: column;
    position: sticky;
    justify-items: center;
    background-color: rgb(0, 0, 65);
    height: 100vh;
    width: 150px;
    margin-right: 20px;
    float: left;
}
.logo{
    margin-bottom: 30px;
}
.Back-btn{
    display: flex;
    background-color: rgb(0, 0, 65);
    height: 50px;
    width: 150px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 350px;
}
.Back-btn img{
    height: 30px;
    margin: 10px;
}
.Back-btn:hover{
    transition: 0.3s;
    background-color: #144272;
    
}
/* Perfil styles */
.header-content{
    display: flex;
    justify-content: center;
    margin: 50px;
    justify-content: space-evenly;
}
/* Header-perfil styles */
.header-cursos{
    margin: 30px;

}
.header-cursos h2, hr{
    color: rgb(0, 0, 65);
    font-size: 30pt;
    margin-bottom: 20px;
}
h2 {
    color: rgb(0, 0, 65);
    font-size: 24px;
    margin-bottom: 20px;
    
}

button {
    background-color: rgb(0, 0, 65);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.button:hover{
    transition: 0.3s;
    background-color: #144272;
    
}

#nombre {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }
  
  #apellidos {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }

  #email {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }
/* Keyframes */
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
.header-cursos hr {
    height: 3px;
    background-color: rgb(0, 0, 65);
    border-radius: 3px;
}